
.workers{
  width: 200px;
  height: 200px;
  border-radius: 1000px;
  margin-right: 30px;

  border: #796dca 3px solid;
}
.icons{
  height: 50px;
  width: 50px;
}

div p a {
  text-decoration: none;
  margin-left: 100px;
}
.works{
  color: rgb(193, 157, 3);
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  align-items: center;
}

.about_text{
  display: flex;
  align-items: flex-start;
  color: aliceblue;
  font-size: 33px;

  margin: 10px;
  letter-spacing: 3px;
  text-transform: none;
}
.header_text{
  display: flex;
  font-weight: bold;
  align-items: center;
  color: #7e93c5;
  font-size: 30px;
  letter-spacing: 3px;
  text-decoration-style: solid;
  border-bottom: #ffffff solid 1px;
}
.ourworks{
  text-align: center;
  font-size: 50px;
}
