body{
  background: #161c22;
}
div img{
  border-radius: 1000px;
  margin-right: 30px;
}
div p a {
  text-decoration: none;
  margin-left: 100px;
}
.about_text{
  display: flex;
  align-items: center;
  color: aliceblue;
  font-size: 33px;
  margin: 25px;
  letter-spacing: 3px;
  text-transform: none;
}
.header_text{
  display: flex;
  font-weight: bold;
  align-items: center;
  color: #7e93c5;
  font-size: 33px;
  letter-spacing: 3px;
  text-decoration-style: dashed;
  border-bottom: #ffffff solid 1px;
}
li a img{
  margin-right: 100px;
}
footer{

  color: #ca8484;
  text-align: center;
  font-size: 25px;

}
footer a{
  text-decoration: none;
  text-align: center;
  color: #a3b7d5;
  font-size: 20px;
  letter-spacing: 4px;
  margin: 60px;
}
